<div class="container">

  <form method="POST" action="/create" autocomplete="off">
    <div class="row">
      <div class="col-6">
        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="nombre" name="nombre">
        </div>
        <div class="mb-3">
          <label for="precio" class="form-label">Precio</label>
          <input type="text" class="form-control" id="precio" name="precio">
        </div>
        <div class="mb-3">
          <label for="color" class="form-label">Color</label>
          <input type="text" class="form-control" id="color" name="color">
        </div>
        <div class="mb-3">
          <input type="submit" class="btn btn-primary" value="Guardar">
        </div>
      </div>
    </div>
  </form>

</div>  