<h1>Crear nuevo articulo</h1>

<form action="">
  <div class="row">
    <div class="col-md-6">
      <div class="mb-3">
        <label for="title" class="form-label">Titulo</label>
        <input type="text" class="form-control" id="title" placeholder="Titulo del blog">
      </div>
    </div>

    <div class="col-md-6">
      <div class="mb-3">
        <label for="formFile" class="form-label">Selecciona una imagen para el blog</label>
        <input class="form-control" type="file" id="formFile">
      </div>
    </div>

    <div class="col-12">
      <div class="mb-3">
        <label for="description" class="form-label">Descripcion</label>
        <textarea class="form-control" id="description" rows="4" placeholder="Escribe la descripcion"></textarea>
      </div>
    </div>

    <div class="mb-3 d-flex justify-content-end">
      <a href="./" class="btn btn-secondary me-3">Cancelar</a>
      <input type="submit" class="btn btn-primary" value="Registrar">
    </div>
  </div>
</form>