<h2>Login</h2>

<div class="container">
<form method="POST" autocomplete="off">
    <div class="row">
      <div class="col-6">
        <div class="mb-3">
          <label for="email" class="form-label">Correo</label>
          <input type="email" class="form-control" id="email" name="email">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Contraseña</label>
          <input type="password" class="form-control" id="password" name="password">
        </div>
        <div class="mb-3">
          <input type="submit" class="btn btn-primary" value="Ingresar">
        </div>
      </div>
    </div>
  </form>

</div>

<div class="container my-5">
  <div class="mb-3 form-outline">
    <input type="text" id="formControlLg" class="form-control form-control-lg" />
    <label class="form-label" for="formControlLg">Form control lg</label>
  </div>
  
  <div class="mb-3 form-outline">
    <input type="text" id="formControlDefault" class="form-control" />
    <label class="form-label" for="formControlDefault">Form control default</label>
  </div>
  
  <div class="mb-3 form-outline">
    <input type="text" id="formControlSm" class="form-control form-control-sm" />
    <label class="form-label" for="formControlSm">Form control sm</label>
  </div>
</div>


<div class="container my-5">
  <button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light" data-mdb-ripple-color="dark">Light</button>
<button type="button" class="btn btn-dark">Dark</button>
<button type="button" class="btn btn-link" data-mdb-ripple-color="dark">Link</button>
</div>

<div class="container my-5">
  <button type="button" class="btn btn-outline-primary" data-mdb-ripple-color="dark">
    Primary
  </button>
  <button type="button" class="btn btn-outline-secondary" data-mdb-ripple-color="dark">
    Secondary
  </button>
  <button type="button" class="btn btn-outline-success" data-mdb-ripple-color="dark">
    Success
  </button>
  <button type="button" class="btn btn-outline-danger" data-mdb-ripple-color="dark">
    Danger
  </button>
  <button type="button" class="btn btn-outline-warning" data-mdb-ripple-color="dark">
    Warning
  </button>
  <button type="button" class="btn btn-outline-info" data-mdb-ripple-color="dark">
    Info
  </button>
  <button type="button" class="btn btn-outline-light" data-mdb-ripple-color="dark">
    Light
  </button>
  <button type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark">
    Dark
  </button>
</div>

<div class="container my-5">
  <button type="button" class="btn btn-primary btn-rounded">Primary</button>
<button type="button" class="btn btn-secondary btn-rounded">Secondary</button>
<button type="button" class="btn btn-success btn-rounded">Success</button>
<button type="button" class="btn btn-danger btn-rounded">Danger</button>
<button type="button" class="btn btn-warning btn-rounded">Warning</button>
<button type="button" class="btn btn-info btn-rounded">Info</button>
<button type="button" class="btn btn-light btn-rounded">Light</button>
<button type="button" class="btn btn-dark btn-rounded">Dark</button>
</div>

<div class="container my-5">
  <button
  type="button"
  class="btn btn-outline-primary btn-rounded"
  data-mdb-ripple-color="dark"
>
  Primary
</button>
<button
  type="button"
  class="btn btn-outline-secondary btn-rounded"
  data-mdb-ripple-color="dark"
>
  Secondary
</button>
<button
  type="button"
  class="btn btn-outline-success btn-rounded"
  data-mdb-ripple-color="dark"
>
  Success
</button>
<button
  type="button"
  class="btn btn-outline-danger btn-rounded"
  data-mdb-ripple-color="dark"
>
  Danger
</button>
<button
  type="button"
  class="btn btn-outline-warning btn-rounded"
  data-mdb-ripple-color="dark"
>
  Warning
</button>
<button
  type="button"
  class="btn btn-outline-info btn-rounded"
  data-mdb-ripple-color="dark"
>
  Info
</button>
<button
  type="button"
  class="btn btn-outline-light btn-rounded"
  data-mdb-ripple-color="dark"
>
  Light
</button>
<button
  type="button"
  class="btn btn-outline-dark btn-rounded"
  data-mdb-ripple-color="dark"
>
  Dark
</button>
</div>

<div class="container my-5">
  <button type="button" class="btn btn-primary btn-lg btn-floating">
    <i class="fab fa-facebook-f"></i>
  </button>
  <button
    type="button"
    class="btn btn-outline-success btn-floating"
    data-mdb-ripple-color="dark"
  >
    <i class="fas fa-star"></i>
  </button>
  <button type="button" class="btn btn-danger btn-floating">
    <i class="fas fa-magic"></i>
  </button>
  <button type="button" class="btn btn-dark btn-floating">
    <i class="fab fa-apple"></i>
  </button>
</div>

<input type="checkbox" class="btn-check" id="btn-check" autocomplete="off">
<label class="btn btn-primary" for="btn-check">Single toggle</label>
<input type="checkbox" class="btn-check" id="btn-check2" autocomplete="off">
<label class="btn btn-success" for="btn-check2">Single toggle</label>